$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  padding-bottom: 20px;
  overflow-y: hidden;
}


#mothers-list {
	text-align:center;
}

#mothers-list a {
	color:#454545;
	display: inline-block;
	padding:15px;
	margin:5px;
	cursor:pointer;
	width: 190px;
	height: 148px;
	background-size:cover;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebe1cc+100,ebe1cc+100 */
border:1px solid grey;
background-color: #ffffff; /* Old browsers */

/*
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ebe1cc 100%, #ebe1cc 100%); 
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ebe1cc 100%,#ebe1cc 100%); 
background: radial-gradient(ellipse at center,  #ffffff 0%,#ebe1cc 100%,#ebe1cc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe1cc',GradientType=1 ); 
*/
	h3 {
		margin:15px;
		padding:15px;
		border:2px solid #454545;
		background:rgba(255,255,255,.75);
		transition: all 200ms ease-in;
		display: none;
	}
	&:hover {
		text-decoration: none;
		h3 {
			padding:20px;
			margin: 10px;
		}
	}
}

#data-vis canvas {
	background: #ffffff;
	/*background: -moz-radial-gradient(center, ellipse cover, #ffffff 80%, #ebe1cc 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 80%,#ebe1cc 100%);
	background: radial-gradient(ellipse at center, #ffffff 80%,#ebe1cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe1cc',GradientType=1 );
*/
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
