$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  padding-bottom: 20px;
  overflow-y: hidden;
}


.form-controls {
  margin-bottom: 20px;
}


#mothers-list {
	text-align:center;
}

#mothers-list a {
	color:#454545;
	display: inline-block;
	padding:15px;
	margin:5px;
	cursor:pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebe1cc+100,ebe1cc+100 */
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ebe1cc 100%, #ebe1cc 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ebe1cc 100%,#ebe1cc 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #ffffff 0%,#ebe1cc 100%,#ebe1cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe1cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	h3 {
		margin:15px;
		padding:15px;
		border:2px solid #454545;
		background:rgba(255,255,255,.75);
		transition: all 200ms ease-in;
	}
	&:hover {
		text-decoration: none;
		h3 {
			padding:20px;
			margin: 10px;
		}
	}
}

#data-vis {
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 77%, #ebe1cc 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 77%,#ebe1cc 100%);
	background: radial-gradient(ellipse at center, #ffffff 77%,#ebe1cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe1cc',GradientType=1 );
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
